<section class="container-6">
    <article class="address">
        <p>
            <span class="bold">Номер телефона:</span> <a href="tel:+78123213232">+7(812)321-3232</a>
        </p>
        <p>
            <span class="bold">Время работы магазина:</span>
            <time>с 10:00 до 22:00</time>
        </p>

        <span class="bold">Адрес магазина: </span>
        <address>
            191000, Санкт-Петербург, Невский пр., д.10
        </address>

        <p>
            <span class="bold">Email: </span>
            <a href="mailto:info@shop.ru?subject=feedback">info@shop.ru</a>
        </p>
        <div>
            <span class="bold">Юридическая информация:</span>
            <ul>
                <li>ООО "Шоп Точка Ру"</li>
                <li>ИНН 786543210</li>
                <li>р/сч 4027000000001</li>
                <li>Банк ОА "Рога и Копыта"</li>
            </ul>
        </div>
    </article>
</section>