<section class="container-6 contactus">
    <form action="contact.html" method="post">
        <p>
            <label>Имя: <input type="text" name="name" value=""></label>
        </p>
        <p>
            <label>Email: <input type="text" name="email" value=""></label>
        </p>
        <p>
            <label>Тема: <input type="text" name="theme" value=""></label>
        </p>
        <p>
            <label>Описание:<br /><textarea name="description" rows="8" cols="40"></textarea></label>
        </p>
        <p>
            <input type="submit" name="submit" value="Отправить запрос">
            <input type="reset" name="reset" value="Сбросить">
        </p>
    </form>
</section>