<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>((TITLE)) - Game Shop Company</title>
    <link rel="stylesheet" href="./css/style.css" media="screen" title="no title">
</head>

<body>
<div class="container">
    <header>
        <div class="logo container-6">
            <a href="./index.php">
                <img src="./i/Logomakr_1d6a6R.png"/>
            </a>
        </div>
        <div class="search-block container-6">
            <nav class="secondary-menu menu-item">
                <ul>
                    <li><a href="#">О магазине</a></li>
                    <li><a href="#">Доставка и оплата</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>
            <form action="#">
                <input type="text" name="search" placeholder="Введите название игры, например, GTA 5">
                <input type="submit" value="&#128269;">
            </form>
        </div>
        <div class="clear"></div>
        <nav class="primary-menu menu-item">
            ((MENU))
        </nav>
    </header>
    <hr>
    <section>
        <header class="top-content">
            ((PRE-HEADER))
        </header>
        <article>
            <header>
                <h2>((HEADER))</h2>
            </header>
            <section class="catalog">
                <div class="container-3">
                    ((SIDE-BAR))
                </div>
                <section class="row">

                    ((CONTENT))

                </section>

            </section>

            <div class="clear"></div>

            <footer>
                ((BOTTOM))
            </footer>


        </article>
    </section>
    <hr>
    <footer>
        &copy; Все права защищены
    </footer>
</div>
</body>

</html>
