<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1024, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>((TITLE)) - Game Shop Company</title>
    <link rel="stylesheet" href="./css/style.css" media="screen" title="no title">
</head>

<body>
<div class="container">
    <header>
        <div class="logo container-6">
            <a href="./index.php">
                <img src="./i/Logomakr_1d6a6R.png"/>
            </a>
        </div>
        <div class="search-block container-6">
            <nav class="secondary-menu menu-item">
                <ul>
                    <li><a href="#">О магазине</a></li>
                    <li><a href="#">Доставка и оплата</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>
            <form action="#">
                <input type="text" name="search" placeholder="Введите название игры, например, GTA 5">
                <input type="submit" value="&#128269;">
            </form>
        </div>
        <div class="clear"></div>
        <nav class="primary-menu menu-item">
            ((MENU))
        </nav>
    </header>
    <hr>
    <section>
        <header class="top-content">
            ((TOP-CONTENT))
        </header>
        <article>
            <header>
                <h2>((HEADER))</h2>
            </header>
            <section class="catalog">
                <div class="container-3">
                    <sidebar>
                        ((SIDE-BAR))
                    </sidebar>
                </div>
                <section class="row">

                    ((CONTENT))


                    <div class="container-3">
                        <article class="product">
                            <header>
                                <div>
                                    <img src="img/fifa-17-ps4_ps-4_cover.png" alt=""/>
                                </div>
                                <div>
                                    <h3><a href="fifa17.html">Fifa 17 для PS4</a></h3>
                                </div>
                            </header>
                            <div class="price inline-block">3990р</div>
                            <div class="buybutton inline-block">
                                <input type="button" name="fifa17" value="купить"/>
                            </div>

                        </article>
                    </div>

                    <div class="container-3">
                        <article class="product">
                            <header>
                                <div>
                                    <img src="img/battlefield-1-ps4_ps-4_cover.png" alt=""/>
                                </div>
                                <div>
                                    <h3><a href="battlefield1.html">Battlefield 1 для PS4</a></h3>
                                </div>
                            </header>
                            <div class="price inline-block">3490р</div>
                            <div class="buybutton inline-block">
                                <input type="button" name="battlefield1" value="купить"/>
                            </div>

                        </article>
                    </div>
                    <div class="container-3">
                        <article class="product">
                            <header>
                                <div>
                                    <img src="img/elder-scrolls-v-skyrim-special-edition-ps4_ps-4_cover.png" alt=""/>
                                </div>
                                <div>
                                    <h3><a href="skyrimse.html">Skyrim Special Ed для PS4</a></h3>
                                </div>
                            </header>
                            <div class="price inline-block">2790р</div>
                            <div class="buybutton inline-block">
                                <input type="button" name="skyrim" value="купить"/>
                            </div>

                        </article>
                    </div>
                </section>
                <section class="row">
                    <div class="container-3">
                        <article class="product">
                            <header>
                                <div>
                                    <img src="img/uncharted-4-thiefs-end-ps4_ps-4_cover.png" alt=""/>
                                </div>
                                <div>
                                    <h3><a href="uncharted.html">Uncharted 4: Путь вора (A Thief's End) для PS4</a></h3>
                                </div>
                            </header>
                            <div class="price inline-block">1990р</div>
                            <div class="buybutton inline-block">
                                <input type="button" name="uncharted" value="купить"/>
                            </div>

                        </article>
                    </div>
                    <div class="container-3">
                        <article class="product">
                            <header>
                                <div>
                                    <img src="img/3-witcher-3-wild-hunt-goty-ps4_ps-4_cover.png" alt=""/>
                                </div>
                                <div>
                                    <h3><a href="witcher.html">Ведьмак 3: Дикая Охота (Witcher 3: Wild Hunt) для PS4</a>
                                    </h3>
                                </div>
                            </header>
                            <div class="price inline-block">3490р</div>
                            <div class="buybutton inline-block">
                                <input type="button" name="witcher" value="купить"/>
                            </div>

                        </article>
                    </div>
                    <div class="container-3">
                        <article class="product">
                            <header>
                                <div>
                                    <img src="img/mafia-3-ps4_ps-4_cover.png" alt=""/>
                                </div>
                                <div>
                                    <h3><a href="mafia.html">Mafia 3 (Мафия III) для PS4</a></h3>
                                </div>
                            </header>
                            <div class="price inline-block">1990р</div>
                            <div class="buybutton inline-block">
                                <input type="button" name="mafia" value="купить"/>
                            </div>
                        </article>
                    </div>
                </section>
            </section>


        </article>
    </section>
    <hr>
    <footer>
        &copy; Все права защищены
    </footer>
</div>
</body>

</html>
