<sidebar>
    <h3>Жанры игр</h3>
    <ul>
        <li><a href=\"#\">аркада</a></li>
        <li><a href=\"#\">драки</a></li>
        <li><a href=\"#\">симуляторы</a></li>
        <li><a href=\"#\">спорт</a></li>
        <li><a href=\"#\">гонки</a></li>
        <li><a href=\"#\">приключения</a></li>
        <li><a href=\"#\">стрелялки</a></li>
        <li><a href=\"#\">стратегии</a></li>
        <li><a href=\"#\">головоломки</a></li>
    </ul>
    <h3>Особенности</h3>
    <ul>
        <li><a href=\"#\">новинка</a></li>
        <li><a href=\"#\">распродажа</a></li>
        <li><a href=\"#\">популярные</a></li>
        <li><a href=\"#\">предзаказ</a></li>
        <li><a href=\"#\">выбор редакции</a></li>
    </ul>
    <h3>По цене</h3>
    <ul>
        <li><a href=\"#\">до 500р</a></li>
        <li><a href=\"#\">от 501 до 1000р</a></li>
        <li><a href=\"#\">от 1001 до 2000р</a></li>
        <li><a href=\"#\">от 2001 до 3000р</a></li>
        <li><a href=\"#\">свыше 3000р</a></li>
    </ul>
</sidebar>